.App {
  text-align: center;
}

#city {
  font-size: x-large;
}

.weatherData {
  padding: 30px;
}

.dropDown {
  margin: auto;
  width: 225px;
  height: 50px;
}

.date {
  width: 219px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 6px;
  text-align: center;
}

h3 {
  color: red;
}

.weatherBar {
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.temp {
  padding: 0px 30px 30px 30px;
}

.visualizations {
  display: flex;
  justify-content: center;
}

.t {
  font-size: 30px;
}

svg {
  margin: 30px 40px 10px 30px;
  background: #eeeeee;
  overflow: visible;
}

nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgb(194, 227, 240);
}

.kuva {
  width:120px;
  margin-left:15px;
  font-family: "Copperplate", Fantasy;
  font-size: 30px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 40%;
  margin:auto;
  padding-right: 190px;
}

#dayTop {
  margin: auto;
  margin-top: 10px;
  width: 700px;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 25px;
}

.topinfo {
  display: flex;
  justify-content: space-around;
}

.imgdiv {
  margin: auto;
}

.maxmintemp {
  display: flex;
  margin: 30px;
}

.maxmint {
  font-size: 70px;
}

.sources {
  margin-top: 100px;
  width: 100%;
  font-size: smaller;
}

.topcity {
  font-size: x-large;
}